.font {
    font-family: Helvetica, Verdana, sans-serif;
}

h1 {
    background-color: black;
    color: white;
    text-align: center;
}

h2 {
    color: rgb(149, 183, 251);
}

h3 {
    color: rgb(225, 134, 237);
}

a {
    color: rgb(88, 181, 253);
}

li {
    color: rgb(186, 124, 231);
}

.desc {
    font-style: italic;
    font-size: 12px;
}

img {
    width: 500px;
    height: auto;
}